<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <setting name="cacheEnabled" value="true"/>
        <!-- Sets the number of seconds the driver will wait for a response from the database -->
        <setting name="defaultStatementTimeout" value="3000"/>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="useGeneratedKeys" value="true"/>
        <!-- 设置控制台打印sql -->
        <setting name="logImpl" value="stdout_logging" />
    </settings>

    <!-- Continue going here -->

    <!--<typeAliases>-->
        <!--<package name="UserPO"/>-->
    <!--</typeAliases>-->

    <!--<mappers>-->
        <!--<mapper resource="mappers/UserMapper.xml"/>-->
    <!--</mappers>-->
</configuration>